<template lang="pug">
  #app
    section.section
      nav.nav.has-shadow
        .container
          input.input.is-large
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
  @import './scss/main.scss';
</style>
