@import '../../node_modules/bulma/bulma.sass';

$orange: #FF9300;
$light_blue: #A3ECF3;
$sky_blue: #00BFD6;
$white: #ffffff;

.container {
  width: 800px;
  height: 409px;
  margin: 30px auto;
  padding: 015px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.5em;
  color: $light_blue;
  text-align: center;
  font-weight: bold;
  margin: 10px0;
  font-weight: 900
}

label {
  display: block;
  font-size: 10px;
  color: $orange;
  font-weight: bold;
  margin: 5px0;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid $orange;
  color: $white;
  font-size: 1.5em;
}

input[type="submit"] {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 50%;
  color: #FFF;
  background: $sky_blue;
  font-size: 1.5em;
  text-transform: uppercase;
  border: none;
  padding: 5px;
}

input:focus {
  outline: none;
}
